*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#sliderPrincipal{
	position: relative;
	overflow: hidden;
}

#barraProgresoContenedor{
	position: absolute;
	height: 10px;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	top: 0;
	z-index: 1000;
}
#barraProgreso{
	height: 100%;
	background: green;
	border-radius: 0 3px 3px 0;
	transition: width 0.8s;
}
#slider{
	position: relative;
	z-index: 998;
	height:100vh;
}
img{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
#img02{
	/* EFECTO SCROLL 
	left: 100%;*/
	opacity: 0;
}
.activo{
	/* EFECTO SCROLL
	left: 0 !important;*/
	opacity: 1 !important;
	transition: all 1s;
}
#indicadores{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px;
	z-index: 999;
}
.circulos{
	border: white 2px solid;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0 5px 0 5px;
	background: transparent;
	border-radius: 50%;
}
.activado{
	background: green;
	transition: background 0.8s;
}